.more-apps{
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 4px;
    text-align: center;
    z-index: 99999;
    background: rgba(0,0,0,0.8);
    font-size: 18px;
    color: #fff;
}
.more-apps a{
    text-decoration: none !important;
}

.page__footer-follow .social-icons .fa-github, .page__footer-follow .social-icons .fa-github-alt, 
.page__footer-follow .social-icons .fa-github-square, .page__footer-follow .social-icons .fa-linkedin, 
.page__footer-follow .social-icons .fa-linkedin-in, .page__footer-follow .social-icons .fa-rss, .page__footer-follow .social-icons .fa-rss-square {
    color: white !important;
}

.wrapper{
    text-align: center !important;
}

.page__hero--overlay .page__lead {
    max-width: 100% !important;
}